

/* Mobile first, we start from the smallest viewport width */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');
body {
  
  font: 14px "Roboto"
}


/*-----------------Login & Signup PAGE-------------------------------------*/


/*-----------------ABOUT PAGE-------------------------------------*/

/*-----------------HOME----------------------------------------------*/


#splashscreen {
  background-color: #1D3449;
}

a.splash {
  color:white;
}

.btn {
  color: black;
  background-color: #FFCECE;
  height: 30px;
  width: 300px; 
  border-color: #FFCECE ;
  margin: 10px;
}

.btn:hover {
  color: black;
  background-color: #FFCECE;
  height: 30px;
  width: 300px; 
  border-color: #FFCECE ;
  margin: 10px;
}

/*-----------------PROFILE PAGE-------------------------------------*/

#profilePicture {
  height: 80px; 
}

.delete-icon {
  height: 20px;
}

#profilepicture {
  border-radius: 50%;
  width:90px;
  height:90px;
  object-fit:cover;
}

.image-cover{
  height: 100px
}

#profileSection {
  display:flex; 
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user-library {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/*-----------------Layout--------------------------------------------*/





/*-----------------LIBRARY--------------------------------------------*/
/* Horizontal Scroll */

.horizontal-scroll {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /*margin-top: 0.5rem;
  margin-bottom: 0.5rem;*/
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 2px;

  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs>li,
.item {
  scroll-snap-align: center;
  /* margin-right: 1rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.hs>li {
  background-color: var(--red-block);
  min-height: 2rem;
  min-width: 10rem;
  color: black;
  /* padding: 1rem; */
}

.card-title {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 0px;
}

/*-----------------AddBook & EditProfile--------------------------------------------*/






/*-----------------Error--------------------------------------------*/













