

/* Mobile first, we start from the smallest viewport width */

body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/* Horizontal Scroll */

.horizontal-scroll {
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /*margin-top: 0.5rem;
  margin-bottom: 0.5rem;*/
}

.hs {
  display: flex;
  flex-direction: row;
  padding: 0 2px;

  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

ul {
  list-style: none;
  padding: 0;
}

.hs>li,
.item {
  scroll-snap-align: center;
  /* margin-right: 1rem; */
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.hs>li {
  background-color: var(--red-block);
  min-height: 2rem;
  min-width: 10rem;
  color: black;
  /* padding: 1rem; */
}

.card-title {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 0px;
}

#profilepicture {
  border-radius: 50%;
  width:90px;
  height:90px;
  object-fit:cover;
}

/*-----------------PROFILE PAGE----------------------*/

#profilePicture {
  height: 80px; 
}

/*-----------------LIBRARY----------------------*/

.image-cover {
  height: 180px
}

h1 {
  color: white
}

p {
  color: white
}

/*-----------------SPLASHSCREEN----------------------*/


#splashscreen {
  background-color: #21384C;
}

a.splash {
  color:white;
}

.btn {
  color: black;
  background-color: #FFCECE;
  height: 40px;
  width: 300px; 
  border-color: #FFCECE ;
}







/*-----------------FOOTER----------------------*/

